:root {
    --border3: rgba(113, 113, 113, 0.2);
    --accent: #4d2424;    /* temporary */
}


/* THREAD TEMPLATE 1 */

.sp-thread1 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    padding:20px;
}

.sp-thread1 img {
    width:80px;
    height:80px;
    margin:0;
    filter:grayscale(70%);
    float:left;
    margin-right:20px;
    border: 1px solid var(--border3);
    padding:4px;
}

.sp-thread1-text {
    color: #3a3a3a;
    width: 555px;
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 180%;
    border: 1px solid var(--border3);
    padding: 50px;
    text-align:justify;
    margin:10px;
    padding-bottom:100px;
}

.sp-thread1-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-thread1-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-thread1-writtenfor {
    width:fit-content;
    text-transform:uppercase;
    line-height:130%;
    font-size: 8px;
    font-family: 'Cousine';
    float:right;
    padding-top:50px;
    border-bottom: 1px solid var(--accent);
    color: #717171;
    padding-bottom: 2px;
}

.sp-thread1-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #272727;
    font-family: essonnes-display;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    text-align: right;
    position: relative;
    top: 10px;
    float: right;
}

.sp-thread1-tag a {
    color:black;
}


/* THREAD TEMPLATE 2 */

.sp-thread2 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    padding:20px;
}

.sp-thread2-text {
    color: #3a3a3a;
    width: 555px;
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 180%;
    border: 1px solid var(--border3);
    padding: 50px;
    text-align:justify;
    margin:10px;
    padding-bottom:70px;
}

.sp-thread2-text img {
    width:120px;
    height:120px;
    margin:0;
    float:right;
    border-radius:100%;
    filter:grayscale(70%);
    margin-left:20px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}

.sp-thread2-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-thread2-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-thread2-tagbox {
    width:100%;
    text-align:right;
    padding-top:50px;
}

.sp-thread2-writtenfor {
    width:fit-content;
    text-transform:uppercase;
    line-height:130%;
    font-size: 8px;
    text-align:right;
    float:right;
    font-family: 'Cousine';
    border-bottom: 1px solid var(--accent);
    color: #717171;
    padding-bottom: 2px;
}

.sp-thread2-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #272727;
    font-family: essonnes-display;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    text-align: right;
    position: relative;
    top: 10px;
    float: right;
}

.sp-thread2-tag a {
    color:black;
}


/* THREAD TEMPLATE 2 */

.sp-thread3 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    padding:20px;
}

.sp-thread3-text {
    color: #3a3a3a;
    width: 555px;
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 180%;
    border: 1px solid var(--border3);
    padding: 50px;
    text-align:justify;
    margin:10px;
    padding-bottom:70px;
}

.sp-thread3-icon {
    width:120px;
    height:120px;
    border-radius:100%;
    padding:4px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:25px;
    border: 5px solid var(--bg1);
    object-fit: cover;
    object-position: center;
}

.sp-thread3-icon img {
    width:120px;
    height:120px;
    margin:0;
    border-radius:100%;
    filter:grayscale(70%);
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}

.sp-thread3-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-thread3-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-thread3-tagbox {
    width:100%;
    text-align:right;
    padding-top:50px;
}

.sp-thread3-writtenfor {
    width:fit-content;
    text-transform:uppercase;
    line-height:130%;
    font-size: 8px;
    text-align:right;
    float:right;
    font-family: 'Cousine';
    border-bottom: 1px solid var(--accent);
    color: #717171;
    padding-bottom: 2px;
}

.sp-thread3-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #272727;
    font-family: essonnes-display;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    text-align: right;
    position: relative;
    top: 10px;
    float: right;
}

.sp-thread3-tag a {
    color:black;
}


/* THREAD TEMPLATE 4 */

.sp-thread4 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    padding:20px;
}

.sp-thread4-text {
    color: #3a3a3a;
    width: 555px;
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 180%;
    border: 1px solid var(--border3);
    padding: 50px;
    text-align:justify;
    margin:10px;
    padding-bottom:70px;
}

.sp-thread4-icon {
    width:140px;
    height:140px;
    border-radius:100%;
    padding:4px;
    position:relative;
    float:right;
    top:25px;
    border: 5px solid var(--bg1);
    object-fit: cover;
    object-position: center;
}

.sp-thread4-icon img {
    width:140px;
    height:140px;
    margin:0;
    margin-right:40px;
    border-radius:100%;
    filter:grayscale(70%);
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    position:relative;
    right:20px;
}

.sp-thread4-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-thread4-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-thread4-tagbox {
    width:100%;
    text-align:left;
    display:inline-block;
    padding-top:50px;
    margin-left:20px;
}

.sp-thread4-spacer {
    height:10px;
    display:inline-block;
}

.sp-thread4-taginfo {
    text-align:right;
    display:inline-block;
    position:relative;
    right:20px;
    top:80px;
}

.sp-thread4-writtenfor {
    width:fit-content;
    text-transform:uppercase;
    line-height:130%;
    font-size: 8px;
    text-align:right;
    font-family: 'Cousine';
    border-bottom: 1px solid var(--accent);
    color: #717171;
    padding-bottom: 2px;
}

.sp-thread4-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #272727;
    font-family: essonnes-display;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    text-align: right;
    position: relative;
    top: 10px;
}

.sp-thread4-tag a {
    color:black;
}


/* THREAD TEMPLATE 5 */

.sp-thread5 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:600px;
    padding:20px;
}

.sp-thread5-text {
    color: #3a3a3a;
    width: 555px;
    font-family: 'Inter';
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 180%;
    border: 1px solid var(--border3);
    padding: 50px 50px 0px 50px;
    text-align:justify;
    margin:10px;
    padding-bottom:50px;
}

.sp-thread5-icon {
    width:180px;
    height:180px;
    padding:4px;
    position:relative;
    float:right;
    border: 5px solid var(--bg1);
    object-fit: cover;
    object-position: center;
}

.sp-thread5-icon img {
    width:180px;
    height:180px;
    margin:0;
    margin-right:40px;
    filter:grayscale(70%);
    background-size: cover;
    background-position: center;
    position:relative;
    right:20px;
}

.sp-thread5-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-thread5-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-thread5-tagbox {
    width:100%;
    text-align:left;
    display:inline-block;
    padding-top:60px;
    margin-left:20px;
}

.sp-thread5-spacer {
    height:10px;
    display:inline-block;
}

.sp-thread5-taginfo {
    text-align:right;
    display:inline-block;
    position:relative;
    right:20px;
    top:80px;
}

.sp-thread5-writtenfor {
    width:fit-content;
    text-transform:uppercase;
    line-height:130%;
    font-size: 8px;
    text-align:right;
    font-family: 'Cousine';
    border-bottom: 1px solid var(--accent);
    color: #717171;
    padding-bottom: 2px;
}

.sp-thread5-tag {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #272727;
    font-family: essonnes-display;
    text-align: justify;
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    text-align: right;
    position: relative;
    top: 10px;
}

.sp-thread5-tag a {
    color:black;
}


/* DEV TEMPLATE - IMAGES */

.sp-dev-images {
    width: 460px;
    margin: 20px auto 20px;
    padding: 25px;
    gap: 10px;
    border: 1px solid var(--border3);
    display: grid;
    grid-template-columns: 130px 130px 130px;
    background: var(--bg1);
    align-items: center;
    justify-items: center;
}

.sp-dev-images img {
    width:130px;
    height:130px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--border3);
    padding:5px;
    filter: grayscale(100%) brightness(70%) contrast(110%) !important;
}


/* DEV TEMPLATE - QUOTE */

.sp-dev-box {
    width: 460px;
    margin: 20px auto 20px;
    padding: 25px;
    padding-bottom: 35px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
    color:black;
}

.sp-dev-marks {
    float:left;
    color:black;
    font-size:60px;
    font-style:italic;
    position:relative;
    top:-50px;
}

.sp-dev-quote {
    font-family: cormorant garamond;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height:90%;
    letter-spacing: 0px;
    text-align:left;
    padding-bottom: 20px;
    text-transform: lowercase;
    color: #313131;
}

.sp-dev-author {
    max-width:fit-content;
    text-transform:uppercase;
    line-height:130%;
    font-size: 10px;
    text-align:right;
    float:right;
    font-family: 'Cousine';
    border-bottom: 1px solid var(--accent);
    color:black!important;
    padding-bottom: 2px;
}


/* DEV TEMPLATE - BLURB */

.sp-dev-blurb {
    width: 460px;
    margin: 20px auto 20px;
    padding: 25px;
    padding-bottom: 35px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
    color:black;
}

.sp-dev-btext1 {
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 600;
    padding-top: 10px;
    letter-spacing: 2px;
    text-align:justify;
    text-transform: uppercase;
    color: #4d4d4d;
}

.sp-dev-btext2 {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    white-space: pre-line;
}


/* DEV - PLAYLIST */

.sp-dev-playlist {
    width:fit-content;
    margin: 20px auto 20px;
    padding: 20px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
    color:black;
    display: grid;
    grid-template-columns: 60px 300px;
}

.sp-dev-mnote {
    font-size:30px;
    padding:10px;
    display:inline-block;
    border:1px solid var(--border3);
    background: var(--accent);
    line-height: 100%;
    color: var(--bg1);
    padding-top: 13px;
}


.sp-dev-songinfo {
    width:100%;
    display:inline-block;
    border:1px solid var(--border3);
    text-align:left;
    padding-top:10px;
    padding-right:10px;
    padding-left:10px;
}

.sp-dev-songinfo b {
    font-family: OFAK;
    text-transform: uppercase;
    font-size: 20px;
    color: #333333;
    border-bottom: 1px solid var(--border3);
    letter-spacing: 0px;
    display:block;
}

.sp-dev-songinfo i {
    font-family: 'Inter';
    font-size: 10px;
    text-transform:uppercase;
    font-style:normal;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: 700;
    color: #595959;
    display:block;
    width:100%;
}


/* REQUEST TEMPLATE 1 */

.sp-request1 {
    width: 550px;
    margin: 20px auto 20px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
}

.sp-request1-title {
    font-family: cormorant garamond;
    font-size: 40px;
    font-style: italic;
    margin:40px 40px 0px 40px;
    font-weight: 500;
    letter-spacing: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #99999940;
    text-transform: lowercase;
    color: #313131;
}

.sp-request1-text {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    padding: 20px 40px 40px 40px;
    white-space: pre-line;
}

.sp-request1-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-request1-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-request1-divider {
    width:100%;
    border-bottom: 1px solid var(--border3);
}

.sp-request1-table {
    display: grid;
    grid-template-columns: 80px 300px;
    padding:20px 40px 20px 40px;
}

.sp-request1-table img {
    width:120px;
    height:120px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--border3);
    padding:5px;
    border-radius:100%;
}

.sp-request1-char {
    position:relative;
    left:60px;
    margin-top:auto;
    margin-bottom:auto;
}

.sp-request1-char b {
    font-family: OFAK;
    text-transform: uppercase;
    font-size:24px;
    color: #333333;
    text-align:left;
    letter-spacing: 0px;
    display:block;
}

.sp-request1-char i {
    font-family: 'Inter';
    font-size: 10px;
    text-transform:uppercase;
    font-style:normal;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: 700;
    position:absolute;
    color: #595959;
    text-align:left;
    display:block;
}


/* REQUEST TEMPLATE 2 */

.sp-request2 {
    width: 550px;
    margin: 20px auto 20px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
}

.sp-request2-title {
    font-family: cormorant garamond;
    font-size: 40px;
    font-style: italic;
    margin:40px 40px 0px 40px;
    font-weight: 500;
    letter-spacing: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #99999940;
    text-transform: lowercase;
    color: #313131;
}

.sp-request2-text {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    padding: 20px 40px 40px 40px;
    white-space: pre-line;
}

.sp-request2-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-request2-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-request2-divider {
    width:100%;
    border-bottom: 1px solid var(--border3);
}

.sp-request2-body {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    padding: 20px 40px 20px 40px;
    white-space: pre-line;
}

.sp-request2-body b {
    font-family: OFAK;
    text-transform: uppercase;
    font-size:24px;
    color: #333333;
    text-align:left;
    letter-spacing: 0px;
    display:block;
}

.sp-request2-body i {
    font-family: 'Inter';
    font-size: 10px;
    text-transform:uppercase;
    font-style:normal;
    margin-top:-5px;
    padding-bottom:5px;
    font-weight: 700;
    position:absolute;
    color: #595959;
    text-align:left;
    display:block;
}

.sp-request2-body-alt {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    padding: 20px 40px 20px 40px;
    white-space: pre-line;
}

.sp-request2-body-alt b {
    font-family: OFAK;
    text-transform: uppercase;
    font-size:24px;
    color: #333333;
    text-align:right;
    letter-spacing: 0px;
    display:block;
}

.sp-request2-body-alt i {
    font-family: 'Inter';
    font-size: 10px;
    text-transform:uppercase;
    font-style:normal;
    margin-top:-5px;
    padding-bottom:5px;
    font-weight: 700;
    color: #595959;
    text-align:right;
    display:block;
}


/* REQUEST TEMPLATE 3 */

.sp-request3 {
    width: 550px;
    margin: 20px auto 20px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
}

.sp-request3-title {
    font-family: cormorant garamond;
    font-size: 40px;
    font-style: italic;
    margin:40px 40px 0px 40px;
    font-weight: 500;
    letter-spacing: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #99999940;
    text-transform: lowercase;
    color: #313131;
}

.sp-request3-subtitle {
    font-family: 'Inter';
    font-size: 7px;
    font-weight: 600;
    padding-top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4d4d4d;
}

.sp-request3-text {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    padding: 20px 40px 40px 40px;
    white-space: pre-line;
}

.sp-request3-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-request3-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}

.sp-request3-text img {
    float:left;
    width:140px;
    height:140px;
    padding:5px;
    margin:20px 20px 20px 0px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--border3);
}

/* REQUEST TEMPLATE 4 */

.sp-request4-image {
    width:150px;
    height:150px;
    border-radius:100%;
    border:1px solid var(--border3);
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    top:50px;
}

.sp-request4-image img {
    width:150px;
    height:150px;
    border-radius:100%;
    border:1px solid var(--border3);
    padding:5px;
    position:relative;
}

.sp-request4-body {
    width: 550px;
    margin: 20px auto 20px;
    gap: 10px;
    border: 1px solid var(--border3);
    background: var(--bg1);
}

.sp-request4-title {
    font-family: cormorant garamond;
    font-size: 40px;
    font-style: italic;
    margin:40px 40px 0px 40px;
    font-weight: 500;
    letter-spacing: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #99999940;
    text-transform: lowercase;
    color: #313131;
}

.sp-request4-subtitle {
    font-family: 'Inter';
    font-size: 7px;
    font-weight: 600;
    padding-top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4d4d4d;
}

.sp-request4-text {
    font-family: inter;
    font-size: 11px;
    color: #515151;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: justify;
    padding: 20px 40px 40px 40px;
    white-space: pre-line;
}

.sp-request4-text b {
    background: var(--accent);
    color: #c7c7c7;
    padding: 5px;
    padding-top: 6px;
    font-family: STIX Two Text;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    letter-spacing: 1px;
}

.sp-request4-text i {
    font-family: meno-banner;
    font-size: 13px;
    font-weight: 900;
    border-bottom: 1px solid var(--accent);
    color: black;
}